@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.bodyColumn {
  display: flex;
  flex-direction: column;
}

.logo {
  width: 100vw;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo a {
  text-decoration: none;
  color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #483D8B;
}
.logo a:hover {
  color: #6959CD;
}
.logo h1 {
  padding: 5% 15%;
  text-align: center;
}
.logo i {
  font-size: 3rem;
}

#slider {
  position: relative;
  width: 100vw;
  height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #483D8B;
}
#slider img {
  opacity: 0;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 10%;
  object-fit: cover;
  transition: ease-in-out 1.5s;
}
#slider img.selected {
  opacity: 1;
}

.secaoViagens {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.secaoViagens h2 {
  color: #483D8B;
  font-size: 3rem;
  height: 10%;
}
.secaoViagens .borderViagens {
  padding-bottom: 5%;
  box-shadow: 0px 5px 4px 0px rgba(63, 63, 63, 0.27);
}
.secaoViagens .containerViagens {
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.secaoViagens .containerViagens article {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 1%;
  border: 1px solid rgba(128, 128, 128, 0.2);
  border-radius: 10px;
}
.secaoViagens .containerViagens article h2 {
  margin: 0;
  color: #483D8B;
}
.secaoViagens .containerViagens article h3 {
  color: #000;
  margin: 2%;
}
.secaoViagens .containerViagens article h4 {
  color: #483D8B;
  margin: 2%;
}
.secaoViagens .containerViagens article p {
  height: 40%;
  overflow-y: hidden;
}
.secaoViagens .containerViagens article a {
  text-decoration: none;
  border: 1px solid #483D8B;
  border-radius: 20px;
  background-color: #483D8B;
  color: #fff;
  font-weight: 600;
  transition: 0.5s linear;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2% 4%;
  margin-top: 2%;
}
.secaoViagens .containerViagens article a:hover {
  color: #483D8B;
  background-color: #fff;
}
.secaoViagens .btnTodasViagens {
  height: 5%;
  margin: 1%;
  padding: 0 2%;
  text-decoration: none;
  border: 1px solid #483D8B;
  border-radius: 20px;
  background-color: #483D8B;
  color: #fff;
  font-weight: 600;
  transition: 0.5s linear;
  display: flex;
  align-items: center;
  justify-content: center;
}
.secaoViagens .btnTodasViagens:hover {
  color: #483D8B;
  background-color: #fff;
}

/*Seção: Sobre*/
.sobreEmpresa {
  height: 80vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #483D8B;
  color: #fff;
  box-shadow: 0px 5px 4px 0px #6959CD;
}
.sobreEmpresa div {
  width: 40vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.sobreEmpresa div h2 {
  font-size: 2rem;
}
.sobreEmpresa div img {
  width: 80%;
}

/*Footer*/
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
}
.footer .linkFooter {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40%;
}
.footer .linkFooter a {
  padding: 0 5%;
}

/* Admin.html*/
body {
  display: flex;
}

aside {
  width: 20vw;
  height: 100vh;
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: flex-start;
  flex-direction: column;
}
aside .logoAside {
  width: 80%;
  margin-top: 10%;
  padding-bottom: 5%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  box-shadow: 0px 5px 4px 0px #d3d3d3;
}
aside .logoAside a {
  text-decoration: none;
  margin: 0;
}
aside .logoAside a:hover {
  color: #6959CD;
}
aside .logoAside i {
  font-size: 2rem;
}
aside .logoAside h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
aside .navPainelAdm {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
aside .navPainelAdm ul {
  width: 90%;
  margin: 20% 0 0 0;
  padding: 0;
  text-align: center;
  height: 100%;
}
aside .navPainelAdm li {
  list-style-type: none;
  width: 100%;
  height: 25%;
  margin: 5px 0;
  font-weight: 700;
}
aside .navPainelAdm li a {
  text-decoration: none;
  color: #000;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition: 0.5s linear;
}
aside .navPainelAdm li a:hover {
  background-color: #483D8B;
  color: #fff;
}

.mainAside {
  width: 80vw;
}
.mainAside .headerMainAdm {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 0 5% 5%;
}
.mainAside .headerMainAdm h1 {
  margin-bottom: 4%;
}
.mainAside .headerMainAdm a {
  background-color: #483D8B;
  height: 100%;
  color: #fff;
  padding: 1.5% 3%;
  border-radius: 10px;
  margin-right: 3%;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s linear;
}
.mainAside .headerMainAdm a:hover {
  background-color: #6959CD;
}
.mainAside .tabela {
  width: 100%;
}
.mainAside .linha1 {
  color: #483D8B;
}
.mainAside tr {
  height: 5vh;
}
.mainAside th {
  width: 20%;
}
.mainAside td {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainAside a {
  background-color: #483D8B;
  height: 100%;
  color: #fff;
  padding: 1.5% 3%;
  border-radius: 10px;
  margin-right: 3%;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s linear;
  text-align: center;
  height: 20px;
  width: 100px;
}
.mainAside a:hover {
  background-color: #6959CD;
}

/* Cadastro-viagens */
.mainCadastros .h1MainCadastros {
  width: 80vw;
  height: 15vh;
  margin-left: 5%;
  display: flex;
  align-items: flex-end;
  font-size: 1.5rem;
}
.mainCadastros .formCadastro {
  display: flex;
  flex-direction: column;
}
.mainCadastros .formCadastro .containerFormCadastro {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0.5% 5%;
}
.mainCadastros .formCadastro .containerFormCadastro label {
  margin-bottom: 2%;
}
.mainCadastros .formCadastro .containerFormCadastro input, .mainCadastros .formCadastro .containerFormCadastro textarea {
  padding: 1.5% 0 1.5% 1%;
  border-radius: 10px;
  border: 1px solid gray;
}
.mainCadastros .formCadastro button {
  background-color: #483D8B;
  height: 100%;
  color: #fff;
  padding: 1.5% 3%;
  border-radius: 10px;
  margin-right: 3%;
  text-decoration: none;
  font-weight: 700;
  transition: 0.3s linear;
  width: 10%;
  height: 1vh;
  margin-left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.mainCadastros .formCadastro button:hover {
  background-color: #6959CD;
}

/*Viagens.html*/
.logoViagens {
  box-shadow: 0px 5px 4px 0px rgba(63, 63, 63, 0.27);
}

/*# sourceMappingURL=style.css.map */
