@mixin primaryBtn () {
    text-decoration: none;
    border: 1px solid $primary;
    border-radius: 20px;
    background-color: $primary;
    color: #fff;
    font-weight: 600;
    transition:  0.5s linear;
        @include centralizar(center);

        &:hover {
            color: $primary;
            background-color: #fff;
        }
}

@mixin secundBtn () {
    background-color: $primary;
                height: 100%;
                color: #fff;
                padding: 1.5% 3%;
                border-radius: 10px;
                margin-right: 3%;
                text-decoration: none;
                font-weight: 700;
                transition:  0.3s linear;

                &:hover {
                    background-color: #6959CD;
                } 
}